/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
    color:#000;background:#fff;-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;padding:0;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { 
    display:block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video {
    display: inline-block;*display: inline;*zoom: 1;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea {
    font:12px/1.5 verdana,"\5FAE\8F6F\96C5\9ED1",tahoma,arial,"Hiragino Sans GB","\5b8b\4f53";
}
input,select,textarea {
    font-size:100%;
}

/* 去掉各Table  cell 的边距并让其边重合 */
table {border-collapse:collapse;border-spacing:0;width:100%;}

/* IE bug fixed: th 不继承 text-align*/
th {
    text-align:inherit;
}

/* 去除默认边框 */
fieldset,img {
    border:0;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
    display:block;
}

/* 去掉 firefox 下此元素的边框 */
abbr,acronym {
    border:0;font-variant:normal;
}

/* 一致的 del 样式 */
del {
    text-decoration:line-through;
}

address,caption,cite,code,dfn,em,th,var {
    font-style:normal;
    font-weight:500;
}

/* 去掉列表前的标识, li 会继承 */
ol,ul {
    list-style:none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th {
    text-align:left;
}

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:500;
}

q:before,q:after {
    content:'';
}

/* 统一上标和下标 */
sub, sup {
    font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* 正常链接 未访问 */
a:link {
    color: #08c;
}

/* 鼠标悬停 */
a:hover {
    color: #08c;
    text-decoration: underline;
}

/* 默认不显示下划线，保持页面简洁 */
ins,a {
    text-decoration:none;cursor:pointer;
}

/* 代码字体 */
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/* 清理浮动 */
.fn-clear:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.fn-clear {
    zoom:1; /* for IE6 IE7 */
}

/* 隐藏, 通常用来与 JS 配合 */
.fn-hide {
    display:none;
}

/* 设置内联, 减少浮动带来的bug */
.fn-left,
.fn-right {
    display:inline;
}
.fn-left {
    float:left;
}
.fn-right {
    float:right;
}

/* 设置对象固定 */
.fn-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
/* 单行文字溢出时出现省略号，需设定宽度 */ 
.fn-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 简单的渐变 */
.fn-linear {
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f1f1f1));
    background: -moz-linear-gradient(top, #fcfcfc, #f1f1f1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f1f1f1');
    background:-o-linear-gradient(top, #fcfcfc, #f1f1f1);
    background:-ms-linear-gradient(top, #fcfcfc, #f1f1f1);
    background: linear-gradient(top, #fcfcfc, #f1f1f1);
}

/* 浅色的渐变 */
.fn-linear-light {
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f9f9f9));
    background: -moz-linear-gradient(top, #fcfcfc, #f9f9f9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f9f9f9');
    background:-o-linear-gradient(top, #fcfcfc, #f9f9f9);
    background:-ms-linear-gradient(top, #fcfcfc, #f9f9f9);
    background: linear-gradient(top, #fcfcfc, #f9f9f9);
}

/* 人民币符号 */
.fn-rmb {
    font-family: arial;
    font-style: normal;
    padding-right: 4px;
}

/* chrome 下字体过小的问题 */
.fn-webkit-adjust {
    -webkit-text-size-adjust: none;
}

/* 容器宽度 */
.w5{width:5px;}
.w10{width:10px;}.w15{width:15px;}.w20{width:20px;}.w25{width:25px;}
.w30{width:30px;}.w35{width:35px;}.w40{width:40px;}.w45{width:45px;}
.w50{width:50px;}.w55{width:55px;}.w60{width:60px;}.w65{width:65px;}
.w70{width:70px;}.w75{width:75px;}.w80{width:80px;}.w85{width:85px;}
.w90{width:90px;}.w95{width:95px;}

.w100{width:100px;}.w105{width:105px;}.w110{width:110px;}.w115{width:115px;}.w120{width:120px;}.w125{width:125px;}
.w130{width:130px;}.w135{width:135px;}.w140{width:140px;}.w145{width:145px;}.w150{width:150px;}.w155{width:155px;}
.w160{width:160px;}.w165{width:165px;}.w170{width:170px;}.w175{width:175px;}.w180{width:180px;}.w185{width:185px;}
.w190{width:190px;}.w195{width:195px;}

.w200{width:200px;}.w205{width:205px;}.w210{width:210px;}.w215{width:215px;}.w220{width:220px;}.w225{width:225px;}
.w230{width:230px;}.w235{width:235px;}.w240{width:240px;}.w245{width:245px;}.w250{width:250px;}.w255{width:255px;}
.w260{width:260px;}.w265{width:265px;}.w270{width:270px;}.w275{width:275px;}.w280{width:280px;}.w285{width:285px;}
.w290{width:290px;}.w295{width:295px;}

.w300{width:300px;}.w305{width:305px;}.w310{width:310px;}.w315{width:315px;}.w320{width:320px;}.w325{width:325px;}
.w330{width:330px;}.w335{width:335px;}.w340{width:340px;}.w345{width:345px;}.w350{width:350px;}.w355{width:355px;}
.w360{width:360px;}.w365{width:365px;}.w370{width:370px;}.w375{width:375px;}.w380{width:380px;}.w385{width:385px;}
.w390{width:390px;}.w395{width:395px;}

.w400{width:400px;}.w405{width:405px;}.w410{width:410px;}.w415{width:415px;}.w420{width:420px;}.w425{width:425px;}
.w430{width:430px;}.w435{width:435px;}.w440{width:440px;}.w445{width:445px;}.w450{width:450px;}.w455{width:455px;}
.w460{width:460px;}.w465{width:465px;}.w470{width:470px;}.w475{width:475px;}.w480{width:480px;}.w485{width:485px;}
.w490{width:490px;}.w495{width:495px;}

.w500{width:500px;}.w505{width:505px;}.w510{width:510px;}.w515{width:515px;}.w520{width:520px;}.w525{width:525px;}
.w530{width:530px;}.w535{width:535px;}.w540{width:540px;}.w545{width:545px;}.w550{width:550px;}.w555{width:555px;}
.w560{width:560px;}.w565{width:565px;}.w570{width:570px;}.w575{width:575px;}.w580{width:580px;}.w585{width:585px;}
.w590{width:590px;}.w595{width:595px;}

.w600{width:600px;}.w605{width:605px;}.w610{width:610px;}.w615{width:615px;}.w620{width:620px;}.w625{width:625px;}
.w630{width:630px;}.w635{width:635px;}.w640{width:640px;}.w645{width:645px;}.w650{width:650px;}.w655{width:655px;}
.w660{width:660px;}.w665{width:665px;}.w670{width:670px;}.w675{width:675px;}.w680{width:680px;}.w685{width:685px;}
.w690{width:690px;}.w695{width:695px;}

.w700{width:700px;}.w705{width:705px;}.w710{width:710px;}.w715{width:695px;}.w720{width:720px;}.w725{width:725px;}
.w730{width:730px;}.w735{width:735px;}.w740{width:740px;}.w745{width:745px;}.w750{width:750px;}.w755{width:755px;}
.w760{width:760px;}.w765{width:765px;}.w770{width:770px;}.w775{width:775px;}.w780{width:780px;}.w785{width:785px;}
.w790{width:790px;}.w795{width:795px;}

.w800{width:800px;}.w805{width:805px;}.w810{width:810px;}.w815{width:895px;}.w820{width:820px;}.w825{width:825px;}
.w830{width:830px;}.w835{width:835px;}.w840{width:840px;}.w845{width:845px;}.w850{width:850px;}.w855{width:855px;}
.w860{width:860px;}.w865{width:865px;}.w870{width:870px;}.w875{width:875px;}.w880{width:880px;}.w885{width:885px;}
.w890{width:890px;}.w895{width:895px;}

.w900{width:900px;}.w905{width:905px;}.w910{width:910px;}.w915{width:995px;}.w920{width:920px;}.w925{width:925px;}
.w930{width:930px;}.w935{width:935px;}.w940{width:940px;}.w945{width:945px;}.w950{width:950px;}.w955{width:955px;}
.w960{width:960px;}.w965{width:965px;}.w970{width:970px;}.w975{width:975px;}.w980{width:980px;}.w985{width:985px;}
.w990{width:990px;}.w995{width:995px;}

.w1000{width:1000px;}.w33p{width:33%;}.w50p{width:50%;}.w100p{width:100%;}

/* 容器高度 */
.h5{height:5px;}
.h10{height:10px;}.h15{height:15px;}.h20{height:20px;}.h25{height:25px;}
.h30{height:30px;}.h35{height:35px;}.h40{height:40px;}.h45{height:45px;}
.h50{height:50px;}.h55{height:55px;}.h60{height:60px;}.h65{height:65px;}
.h70{height:70px;}.h75{height:75px;}.h80{height:80px;}.h85{height:85px;}
.h90{height:90px;}.h95{height:95px;}

.h100{height:100px;}.h105{height:105px;}.h110{height:110px;}.h115{height:115px;}.h120{height:120px;}.h125{height:125px;}
.h130{height:130px;}.h135{height:135px;}.h140{height:140px;}.h145{height:145px;}.h150{height:150px;}.h155{height:155px;}
.h160{height:160px;}.h165{height:165px;}.h170{height:170px;}.h175{height:175px;}.h180{height:180px;}.h185{height:185px;}
.h190{height:190px;}.h195{height:195px;}

.h200{height:200px;}.h205{height:205px;}.h210{height:210px;}.h215{height:215px;}.h220{height:220px;}.h225{height:225px;}
.h230{height:230px;}.h235{height:235px;}.h240{height:240px;}.h245{height:245px;}.h250{height:250px;}.h255{height:255px;}
.h260{height:260px;}.h265{height:265px;}.h270{height:270px;}.h275{height:275px;}.h280{height:280px;}.h285{height:285px;}
.h290{height:290px;}.h295{height:295px;}

.h300{height:300px;}.h305{height:305px;}.h310{height:310px;}.h315{height:315px;}.h320{height:320px;}.h325{height:325px;}
.h330{height:330px;}.h335{height:335px;}.h340{height:340px;}.h345{height:345px;}.h350{height:350px;}.h355{height:355px;}
.h360{height:360px;}.h365{height:365px;}.h370{height:370px;}.h375{height:375px;}.h380{height:380px;}.h385{height:385px;}
.h390{height:390px;}.h395{height:395px;}

.h400{height:400px;}.h405{height:405px;}.h410{height:410px;}.h415{height:415px;}.h420{height:420px;}.h425{height:425px;}
.h430{height:430px;}.h435{height:435px;}.h440{height:440px;}.h445{height:445px;}.h450{height:450px;}.h455{height:455px;}
.h460{height:460px;}.h465{height:465px;}.h470{height:470px;}.h475{height:475px;}.h480{height:480px;}.h485{height:485px;}
.h490{height:490px;}.h495{height:495px;}

.h500{height:500px;}.h505{height:505px;}.h510{height:510px;}.h515{height:515px;}.h520{height:520px;}.h525{height:525px;}
.h530{height:530px;}.h535{height:535px;}.h540{height:540px;}.h545{height:545px;}.h550{height:550px;}.h555{height:555px;}
.h560{height:560px;}.h565{height:565px;}.h570{height:570px;}.h575{height:575px;}.h580{height:580px;}.h585{height:585px;}
.h590{height:590px;}.h595{height:595px;}

.h600{height:600px;}.h605{height:605px;}.h610{height:610px;}.h615{height:615px;}.h620{height:620px;}.h625{height:625px;}
.h630{height:630px;}.h635{height:635px;}.h640{height:640px;}.h645{height:645px;}.h650{height:650px;}.h655{height:655px;}
.h660{height:660px;}.h665{height:665px;}.h670{height:670px;}.h675{height:675px;}.h680{height:680px;}.h685{height:685px;}
.h690{height:690px;}.h695{height:695px;}

.h700{height:700px;}.h705{height:705px;}.h710{height:710px;}.h715{height:695px;}.h720{height:720px;}.h725{height:725px;}
.h730{height:730px;}.h735{height:735px;}.h740{height:740px;}.h745{height:745px;}.h750{height:750px;}.h755{height:755px;}
.h760{height:760px;}.h765{height:765px;}.h770{height:770px;}.h775{height:775px;}.h780{height:780px;}.h785{height:785px;}
.h790{height:790px;}.h795{height:795px;}

.h800{height:800px;}.h805{height:805px;}.h810{height:810px;}.h815{height:895px;}.h820{height:820px;}.h825{height:825px;}
.h830{height:830px;}.h835{height:835px;}.h840{height:840px;}.h845{height:845px;}.h850{height:850px;}.h855{height:855px;}
.h860{height:860px;}.h865{height:865px;}.h870{height:870px;}.h875{height:875px;}.h880{height:880px;}.h885{height:885px;}
.h890{height:890px;}.h895{height:895px;}

.h900{height:900px;}.h905{height:905px;}.h910{height:910px;}.h915{height:995px;}.h920{height:920px;}.h925{height:925px;}
.h930{height:930px;}.h935{height:935px;}.h940{height:940px;}.h945{height:945px;}.h950{height:950px;}.h955{height:955px;}
.h960{height:960px;}.h965{height:965px;}.h970{height:970px;}.h975{height:975px;}.h980{height:980px;}.h985{height:985px;}
.h990{height:990px;}.h995{height:995px;}

.h1000{height:1000px;}

/* 外边距 上下边距 左右居中 */
.ma0{margin:0 auto;}
.ma5{margin:5px auto;}
.ma10{margin:10px auto;}
.ma15{margin:15px auto;}
.ma20{margin:20px auto;}
.ma25{margin:25px auto;}
.ma30{margin:30px auto;}
.ma35{margin:35px auto;}
.ma40{margin:40px auto;}

/* 外边距 */
.m5 {margin: 5px;}
.m10 {margin: 10px;}
.m15 {margin: 15px;}
.m20 {margin: 20px;}
.m25 {margin: 25px;}
.m30 {margin: 30px;}
.m35 {margin: 35px;}
.m40 {margin: 40px;}

/* 上外边距 */
.mt5 {margin-top: 5px;}
.mt10 {margin-top: 10px;}
.mt15 {margin-top: 15px;}
.mt20 {margin-top: 20px;}
.mt25 {margin-top: 25px;}
.mt30 {margin-top: 30px;}
.mt35 {margin-top: 35px;}
.mt40 {margin-top: 40px;}

/* 右外边距 */
.mr5 {margin-right: 5px;}
.mr10 {margin-right: 10px;}
.mr15 {margin-right: 15px;}
.mr20 {margin-right: 20px;}
.mr25 {margin-right: 25px;}
.mr30 {margin-right: 30px;}
.mr35 {margin-right: 35px;}
.mr40 {margin-right: 40px;}

/* 下外边距 */
.mb5 {margin-bottom: 5px;}
.mb10 {margin-bottom: 10px;}
.mb15 {margin-bottom: 15px;}
.mb20 {margin-bottom: 20px;}
.mb25 {margin-bottom: 25px;}
.mb30 {margin-bottom: 30px;}
.mb35 {margin-bottom: 35px;}
.mb40 {margin-bottom: 40px;}

/* 左外边距 */
.ml5 {margin-left: 5px;}
.ml10 {margin-left: 10px;}
.ml15 {margin-left: 15px;}
.ml20 {margin-left: 20px;}
.ml25 {margin-left: 25px;}
.ml30 {margin-left: 30px;}
.ml35 {margin-left: 35px;}
.ml40 {margin-left: 40px;}

/* 内边距 */
.p1 {padding: 1px;}
.p5 {padding: 5px;}
.p10 {padding: 10px;}
.p15 {padding: 15px;}
.p20 {padding: 20px;}
.p25 {padding: 25px;}
.p30 {padding: 30px;}
.p35 {padding: 35px;}
.p40 {padding: 40px;}

/* 上内边距 */
.pt5 {padding-top: 5px;}
.pt10 {padding-top: 10px;}
.pt15 {padding-top: 15px;}
.pt20 {padding-top: 20px;}
.pt25 {padding-top: 25px;}
.pt30 {padding-top: 30px;}
.pt35 {padding-top: 35px;}
.pt40 {padding-top: 40px;}

/* 右内边距 */
.pr5 {padding-right: 5px;}
.pr10 {padding-right: 10px;}
.pr15 {padding-right: 15px;}
.pr20 {padding-right: 20px;}
.pr25 {padding-right: 25px;}
.pr30 {padding-right: 30px;}
.pr35 {padding-right: 35px;}
.pr40 {padding-right: 40px;}

/* 下内边距 */
.pb5 {padding-bottom: 5px;}
.pb10 {padding-bottom: 10px;}
.pb15 {padding-bottom: 15px;}
.pb20 {padding-bottom: 20px;}
.pb20 {padding-bottom: 20px;}
.pb20 {padding-bottom: 20px;}
.pb20 {padding-bottom: 20px;}
.pb20 {padding-bottom: 20px;}

/* 左内边距 */
.pl5 {padding-left: 5px;}
.pl10 {padding-left: 10px;}
.pl15 {padding-left: 15px;}
.pl20 {padding-left: 20px;}
.pl25 {padding-left: 25px;}
.pl30 {padding-left: 30px;}
.pl35 {padding-left: 35px;}
.pl40 {padding-left: 40px;}

/*文字对齐方式*/
.tl{text-align:left;}
.tr{text-align:right;}
.tc{text-align:center;}

.prel{ position:relative;}

.f_12{font-size:12px;}
.f_14{font-size:14px;}
.f_16{font-size:16px;}
.f_18{font-size:18px;}
.f_20{font-size:20px;}
.f_22{font-size:22px;}
.f_24{font-size:24px;}
.f_26{font-size:26px;}
.f_30{font-size:30px;}