@using Orchard.Core.Contents.ViewModels;
@model ListContentsViewModel
@{
    //Layout =null
    //var typeDisplayName = Model.TypeDisplayName;
    var pageTitle = "Manage Content";
    var createLinkText = T("Create New Content");
    //if (!string.IsNullOrWhiteSpace(typeDisplayName))
    //{
    //    pageTitle = T("Manage {0} Content", typeDisplayName);
    //    createLinkText = T("Create New {0}", typeDisplayName);
    //}

    //IEnumerable<string> cultures = Model.Options.Cultures;
    ViewBag.Title = pageTitle;
}

@*<div class="manage">
        @Html.ActionLink(createLinkText.Text, "Create", new { Area = "Contents", Id = (string)Model.Options.SelectedFilter }, new { @class = "button primaryAction" })
    </div>*@
@using (Html.BeginFormAntiForgeryPost())
{
    <fieldset class="contentItems bulk-items">
        @*@Display(Model.ContentItems)*@
    </fieldset>
    @Html.Partial("Pager", Model.Pager)
}